<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card-box">
          <div class="row">
            <div class="col-lg-6 col-xl-6">
              <h4 class="header-title m-b-30">My Files</h4>
            </div>
          </div>
          <div class="row">
            <div *ngFor="let filename of filenames" class="col-lg-3 col-xl-2">
              <div class="file-man-box"><a (click)="deleteFiles(filename)" class="file-close"><i
                    class="fa fa-times-circle"></i></a>
                <div class="file-img-box"><img
                    src="https://cdn-icons.flaticon.com/png/512/3047/premium/3047411.png?token=exp=1660831015~hmac=229fa485a74f3c2a56c99f48426f6465"
                    alt="icon">
                </div><a (click)="onDownloadFile(filename)" class="file-download"><i class="fa fa-download"></i></a>
                <div class="file-man-title">
                  <h5 class="mb-0 text-overflow">{{filename}}</h5>
                  <p class="mb-0"><small></small></p>
                </div>
              </div>
            </div>
          </div>
          <div classs="row">
            <div class="text-center mt-3">
              <input type="file" (change)="onUploadFiles($event.target.files)"
                class="btn btn-outline-danger w-md waves-effect waves-light"><i class="mdi mdi-refresh"></i>
            </div>
          </div>
        </div>
      </div>
